# Project data
dataset/
models/
build/
dist/

# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Model files
*.pth
*.pt
*.h5

# IDEs
.vscode/
.idea/

# Logs
*.log

# Project-specific
project_tree.txt
reports/dissertation_draft/
app/audio_forensics_core - Copy.py